@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>


<p>
    <ul>

        <li> <a href="https://localhost:44343/potilastiedot/uusipotilastieto">Lisää uusi potilas</a> </li>

        <li> <a href="https://localhost:44343/Omistajat/">Omistajatietokanta</a> </li>

        <li>  <a href="https://localhost:44343/Omistajat/Uusiomistaja">Lisää uusi omistaja</a> </li>

        <li>  <a href="https://localhost:44343/eläinlääkärit">Eläinlääkäritietokanta</a> </li>

        <li>    <a href="https://localhost:44343/eläinlääkärit/uusieläinlääkäri">Lisää uusi eläinlääkäri</a> </li>


    </ul>
</p>

