@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<body>
    
    style="background-image:url('C:\Codebootcamp\Free-Download-Lovely-Cat-Wallpaper.jpg')"



    <h1 style="font-size:60px;">Iloinen eläinlääkäriasema</h1>
















</body>

</html>
