################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/testi13.12/bin/Debug/netcoreapp2.1
/testi13.12/obj
