@model testi13._12.Models.Potilastiedot

@{
    ViewData["Title"] = "UusiOmistaja";
}

<h2>Lisää uusi eläinpotilas</h2>

<h4>Potilastiedot</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="UusiOmistaja">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Idasiakas" class="control-label"></label>
                <input asp-for="Idasiakas" class="form-control" />
                <span asp-validation-for="Idasiakas" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Nimi" class="control-label"></label>
                <input asp-for="Nimi" class="form-control" />
                <span asp-validation-for="Nimi" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Laji" class="control-label"></label>
                <input asp-for="Laji" class="form-control" />
                <span asp-validation-for="Laji" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rotu" class="control-label"></label>
                <input asp-for="Rotu" class="form-control" />
                <span asp-validation-for="Rotu" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Idomistaja" class="control-label"></label>
                <input asp-for="Idomistaja" class="form-control" />
                <span asp-validation-for="Idomistaja" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Ideläinlääkäri" class="control-label"></label>
                <input asp-for="Ideläinlääkäri" class="form-control" />
                <span asp-validation-for="Ideläinlääkäri" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
